<div class="well well-sm">
    <div class="panel panel-default">
        <header class="row spacing">
            <nav class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                    <li routerLinkActive='active' *ngIf='!isLoggedIn()'><a  [routerLink]="['signin']" >Sign In</a></li>
                    <li routerLinkActive='active' *ngIf='isLoggedIn()'><a  [routerLink]="['logout']" >Log out</a></li>
                    <li routerLinkActive='active' *ngIf="!isLoggedIn()"><a  [routerLink]="['signup']">Sign Up</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="row spacing">
        <router-outlet></router-outlet>
    </div>
</div>