<div class="col-md-8 col-md-offset-2">
    <h2>Sign in</h2>
    <form [formGroup]='myForm' (ngSubmit)="onSubmit(s)">
        <div class="form-group">
            <label for="email">Email  </label>
            <input type="text" id="email" class="form-control" formControlName='email'>
        </div>
        <div class="form-group">
            <label for="password">Password  </label>
            <input type="password" id="password" class="form-control" formControlName='password'>
        </div>
        <button [disabled]="!myForm.valid" class="btn btn-primary"  type='submit' ng-reflect-router-link='/project' #s >Submit</button>
    </form>
    <hr>
    <div class="well">
        <div routerLinkActive='active'>
            <span> </span>
            <a  class='hsi-link' [routerLink]="['/signup']">Create an account</a></div>
    </div>
</div>