<div class="col-md-8 col-md-offset-2">
    <h2>Create an account</h2>
    <form [formGroup]='myForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name  </label>
            <input type="text" id="firstName" class="form-control" formControlName='firstName'>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name  </label>
            <input type="text" id="lastName" class="form-control" formControlName='lastName'>
        </div>
        <div class="form-group">
            <label for="email">Email  </label>
            <input type="text" id="email" class="form-control" formControlName='email'>
            <div class='errorMessage' *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].dirty" >You must enter a valid email</div>
            <div class='errorMessage' *ngIf="emailInUse" >{{emailInUseMessage}}</div>
        </div>
        <div class="form-group">
            <label for="password">Password  </label>
            <input type="password" id="password" class="form-control" formControlName='password'>
            <div class='errorMessage' *ngIf="passwordMismatch" >{{passwordMismatchMessage}}</div>
        </div>
        <div class="form-group">
            <label for="passwordCheck">Re-enter your password  </label>
            <input type="password" id="passwordCheck" class="form-control" formControlName='passwordCheck'>
        </div>        
        <!--<div class="form-group">-->
        <!--    <label for="office">Office  </label>-->
        <!--    <input type="text" id="office" class="form-control" formControlName='office'>-->
        <!--</div>-->
        <button [disabled]="!myForm.valid" class="btn btn-primary" type='submit'>Submit</button>
    </form>
    <!--button class="btn btn-danger" (click)="onLogout()">
        Logout
    </button-->
    <!--https://scotch.io/tutorials/angular-2-form-validation-->
</div>

