.container-fluid {
    padding-left:60px;
    padding-right:60px;
    
}

#card-middle-row {
    min-width:1280px;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#blank {
    color:#272b31; /*#222; */
    height: 450px;
    width:inherit;
    z-index: -10;
    
}
#card-top-row {
    height: 150px;
}
#card-middle-row {
    height: 450px;
}

.answerTitle {
  color: white;
  background-color: #30343b;
  font-size:1.1em;
  width:200px;
  padding:10px;
  margin-top: 0;
  margin-left: 15px
}
.messagex {
    
    z-index: 10;
    background: blue;
    color:white;
}

.message {
    position: absolute;
    width: 50%;
    height: auto;
    padding: 15px;
    font-size: 2em;
    left: 25%;
    top: 350px;
    z-index: 10;
    text-align: center;
    background: #ffdab9;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #222;
    color: #272b31;
}

.riskValuex {
  cursor: pointer;
  color: #30343b;
  background-color:transparent;
  font-size:1.1em;
  width:87px;
  padding:10px;
  margin-top: 0;
  margin-right: 15px;
    
}

.riskValue {
    cursor: pointer;
    margin-bottom: 10px;
    float: left;
    color: #30343b;
    background-color: transparent;
    font-size: 1.1em;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin-top: -10px;
    margin-right: 15px;
    text-align: center;
}


.glyphiconx {
    font-size: 4.5em; /*50px;*/
    margin: 30px;
    padding-top: 5px;
    top-margin:0px
}

.glyphicon {
    font-size: 1em; /*50px;*/
}

.glyphicon-menu-right, .glyphicon-menu-left {
    cursor:pointer;
}

.gry{
  background-color:#555;
  color:white;
}


.grn{
  background-color:#00b200; /*#D4E4CD;*/
  color:white;
}
.ylo{
  background-color:#ffff4f; /*#FCF8E3; */
}

.red{
  background: #fa3636; /*#F2DEDE;*/
  color:white;
}
