<div *ngIf="!showIntegrationCard" 
      class="container-fluid">
  
  <div id='card-top-row' class="row">
    <h2>{{childMessage}}</h2>

    <div class="col-md-1">
      <app-qstn-number 
              (passToParent)="onMessageFromChild($event)" 
              [q_number]='q_number'>
      </app-qstn-number>
    </div>
    
    <div class="col-md-10">
      <app-qstn 
              [q_content]='q_content'>
      </app-qstn>
    </div>
    
    <div class="col-md-1">
      <app-ansr-buttons 
              [a_value]='a_value'
              [a_details]='a_details'>
      </app-ansr-buttons>
    </div>
  </div>

  <div id='card-middle-row' class="row">
    <div *ngIf='showMessage' class="message">{{message}}</div>

    <div class="form-group">
      <div class="col-md-6" [ngClass]="{'hidden': a_value==true || a_value==null || fullScreen}" >
        <div class='answerTitle' >Risk Matrix</div>
        <app-ansr-riskbox 
              [a_details]='a_details' 
              [a_value]='a_value' 
              [ngClass]="{'hidden': a_value==true || a_value==null}">
        </app-ansr-riskbox>
      </div>
      
      <div [ngClass]="{'hidden': a_value==null, 'col-md-11': a_value==true || fullScreen, 'col-md-5': a_value==false && !fullScreen}" >

        <div class='answerTitle'>
          <span>
            <div class='riskValue'
                  (click)='toggleFullScreen()'
                  [ngClass]="{'gry' : riskValue==null,
                              'grn' : a_details?.riskValue<20 && a_details?.riskValue!=null,
                              'red' : a_details?.riskValue>30,
                              'ylo' : a_details?.riskValue>20 && a_details?.riskValue<30}"
                  *ngIf="fullScreen && !a_value">
              {{riskValue}}
            </div>          
          </span>
          
          <span 
            title='Expand'
            (click)='toggleFullScreen()'
            *ngIf="!fullScreen && a_value==false"
            class='glyphicon glyphicon-menu-left'>
          </span>   
          
          <span *ngIf='a_value'>Rationale</span>
          <span *ngIf='!a_value'>Risk details</span>

          <span 
            title='Show risk matrix.'
            (click)='toggleFullScreen()'
            *ngIf="fullScreen && a_value==false"
            class='glyphicon glyphicon-menu-right'>
          </span>    
          
        </div>

        <app-ansr-rationale 
              [a_details]='a_details' 
              [a_value]='a_value' 
              [ngClass]="{'hidden': a_value==null}"  >
        </app-ansr-rationale>
      </div> 
      
      <div class="col-md-11" id='blank'></div>
      
    </div>
  </div>

</div>
<app-intgrn *ngIf="showIntegrationCard"></app-intgrn>
