.container-fluid {
    padding-left:60px;
    padding-right:60px;
    
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#blank {
    color:#222;
    height: 390px;
    width:inherit;
    z-index: -10;
    
}
