/* You can add global styles to this file, and also import other style files */

/**** div table for risk probability and severity/impact ratings */
#table_box {   /* contains all the table elements */
  float:left;
  width:100%; /*100.5%; */
  height:40%;
  background:white;
  font-size: 1.1em;
  padding-left:15px;
  visibility: hidden;
  /* visible | hidden  */
}
.row {
  float:left;
  width:100%;
  font-size:1em;
  text-align:center;
  /*word-wrap: break-word; */
  /*word-wrap: break-word; */
}
.rh { /* row header attributes - to the left of the row */
  float: left;
  width: 20%;
  height: 30px;
  color:#C8C8C8;
  font-size: 1.0em;
  padding: 2px 2px;
}
.rh1 {   /* row header attributes - to the left of the row */
  float:left;
  width:20%;
  height: 30px;
  color:white;
  font-size: 1.0em;
  padding: 2px 2px;
}
.th , .td, .th1 {   /* table/column header and table cell shared attributes */
  float:left;
  width:14.6%;
  padding: 2px 4px;
  color:white;
}
.th {  /* table/column header unique attributes */
  height:30px;
  display: table-cell;
  vertical-align: bottom;
  color:#C8C8C8;
}
.th1 {  /* table/column header unique attributes */
  background-color:white;
}

.td {   /* table cell unique attributes  */
  height:59px;
  border-style: solid;
  border-color:black;
  border-width:1px;
  font-size:0px;  /* don't show the x */
}
.td:hover {
  cursor:cell;
  background:yellow; /*#69aa31 previous ; /* selected #; */
}
html, body, .container {
  height: 00%;
}
textarea.form-control {
  height: 500%;
  width:94%;
  font-size: 1.4em;
}


/**** Rationale input elements */
/* mobile css  */
@media (max-device-width: 1280px) and (orientation: landscape) {
  #main_cardx {
    height:410px;
    font-size:1.1em;
    width:80%;
  }
}
@media (max-device-width: 1280px) and (orientation: portrait) {
  #main_cardx {
    height:1000px;
    font-size:1.6em;
    width:60%;
  }
}
@media (max-device-width: 1366px) and (orietation: landscape) {
  #main_cardx {
    height:430px;
    font-size:1.1em;
    /*min-width:55em; */
  }
}

