ul, ol {
    opacity:1;
    width:92.5%;
    margin-top:50px;
    margin-left:5%;
    margin-right:2.5%;
    background-color: #222;
    position: relative;
    padding:30px;
    padding-top:10px;
    z-index: 2;
}
li {
    color:#eee;
}

lix:hover{
  color: tomato;
  cursor: pointer;
}

.selected {
    color:tomato;
}

.glyphicon {
    padding:3px;
    background:white;
    opacity: .8;
    color:rgb(158, 158, 158);
    background:#222;
}

.q_menu_item {
    padding-bottom: 6px;
}

.pos {
    color:rgb(192, 255, 195);  /*#D4E4CDl  /*#5fbf5f;  /* green */
}

.neg {
    color:#ff6d6d;  /*#F2DEDE;  /*tomato;  /*#f2dede; */
}
.info {
    color:rgb(192, 255, 195); /*#fffd85  /*#FCF8E3; /*#fff; */
}
.low{
    color:rgb(192, 255, 195); /*#5fbf5f;  /* green */
}
.moderate{
    color:#fffd85; /*rgba(246, 243, 7, .9); /*yellow;*/
}
.high{
    color:#ff6d6d;  /*red; */
}