ul, ol {
    opacity:1;
    width:92.5%;
    margin-top:50px;
    margin-left:5%;
    margin-right:2.5%;
    background-color: #222;
    position: relative;
    padding:30px;
    padding-top:10px;
    z-index: 2;
}
li {
    color:#eee;
}

lix:hover{
  color: tomato;
  cursor: pointer;
}

.selected {
    color:tomato;
}

.glyphicon {
    padding:3px;
    background:white;
    opacity: .8;
    color:rgb(158, 158, 158);
    background:#222;
}

.q_menu_item {
    padding-bottom: 6px;
    font-size:1.1em;
}

/*  icon colors are also in qstn-menu-filter.component.css */

.pos {
    color:rgb(192, 255, 195);
}

.neg {
    color:#ff6d6d;  
}
.info {
    color:rgb(192, 255, 195);
}
.low{
    color:rgb(192, 255, 195); 
}
.moderate{
    color:#fffd85; 
}
.high{
    color:#ff6d6d; 
}
