ul, ol {
    opacity:1;
    width:92.5%;
    margin-top:50px;
    margin-left:5%;
    margin-right:2.5%;
    background-color: #222;
    position: relative;
    padding:30px;
    padding-top:10px;
    z-index: 2;
}
li {
    color:#eee;
}

lix:hover{
  color: tomato;
  cursor: pointer;
}

.selected {
    color:tomato;
}

.glyphicon-ok {
    padding-right: 5px;
    padding-left: 5px;
    padding:5px;
}

.q_menu_item {
    padding-bottom: 5px;
    padding-left: 10px;
}

.pos {
    background-color:green;
    color:white;  /*#d4e4cd; */
}

.neg {
    background-color:tomato;
    color:white;  /*#f2dede; */
}
