
h2 {
  font-weight: 600;
}

.domain.container p {
  color:#222;
  background:#eee;
}

.riskValue {
    cursor: pointer;
    margin-bottom: 10px;
    color: #30343b;
    background-color: transparent;
    font-size: 1.1em;
    font-weight: bold;
    width: 40px;
    height: 1.6em;
    margin-top: 0px;
    margin-right: 15px;
    margin-left:155px;
    text-align: center;
}

.gry{
  background-color:#555;
  color:white;
}

.grn{
  background-color:#00b200; /*#D4E4CD;*/
  color:white;
}

.ylo{
  background-color:#ffff4f; /*#FCF8E3; */
  color:#222;
}

.red{
  background-color: #fa3636;/*#F2DEDE;*/
  color:white;
}



px, spanx {
  font-size:1.4em;
  font-weight: normal;
}
p {
  font-size:1.4em;
  font-weight: normal;
}
span {
  font-size:1em;
  font-weight: 600;
}

.hsi-label {
  font-size: 1.3em;
  font-weight:600;
}

.hsi-detail {
  font-size: 1.3em;
  font-weight:600;
  color: #fd5f60;
}

.label-left {
  float:left;
}


@media print {
    header {page-break-after: always;}
    /*.qnn {page-break-after: always;} */
    .riskValue {color:#ffffff !important; -webkit-print-color-adjust: exact; }
    .hsi-detail {color:#fd5f60 !important; -webkit-print-color-adjust: exact; }
    .gry {background-color:#ddd !important; -webkit-print-color-adjust: exact; }
    .grn {background-color:#00b200 !important; -webkit-print-color-adjust: exact; }
    .ylo {background-color:#ffff4f !important; color:#222 !important; -webkit-print-color-adjust: exact; }
    .red {background-color:#fa3636 !important; -webkit-print-color-adjust: exact; }
    
    /*.container {margin-right:50px !important; margin-left:50px !important;}*/
    .container {zoom:120% !important; 
      background-color: white !important;
      width: 75%; 
      border: 0;
      margin: 0 5%;
      padding: none !important;
      float: none !important;
    }

    /*margin-top:50px !important;margin-bottom:60px !important;}*/


}

/* https://stackoverflow.com/questions/6553439/div-background-color-in-print-page-doesnt-work */