<!--<div *ngIf='!isInitialized()' class="loading">-->
<!--    <img src="/assets/images/ring.gif" alt="loading...">-->
<!--</div>-->

<div class='container'>
    <h1>Human Systems Integration - Risk Management Tool (HSI-RMT) Admin Tools</h1>
    <hr>
    <div class='menu-item'>
        <a appOutputMenuMouse 
            (click)='setButtonActive(1)'
            [ngClass]="{'active-button' : activeButton==1}"
            class='menu-item-link' 
            [routerLink]="['qnnedit']" 
            title="Edit domains and questions">
            Questionnaires
        </a>
    </div>
    <div class='menu-item'>
        <a appOutputMenuMouse 
            (click)='setButtonActive(2)'
            *ngIf="qnnIsSelected()"
            [ngClass]="{'active-button' : activeButton==2}"
            class='menu-item-link' 
            [routerLink]="['domainedit']" 
            title="Edit domains and questions">
            Domains
        </a>
    </div>    
    <div class='menu-item'>
        <a appOutputMenuMouse 
            (click)='setButtonActive(3)'
            *ngIf='domainIsSelected()'
            [ngClass]="{'active-button' : activeButton==3}"
            class='menu-item-link' 
            [routerLink]="['questionedit']" 
            title="Edit domains and questions">
            Questions
        </a>
    </div>
</div>


<router-outlet></router-outlet>