.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xbtn-xl{
  width:70px;
  font-size: 1.2em;
  background-color:#555;
  border-color: #555;
  color:#222;
  font-weight: bold;
}



buttonx:focus {
  outline:0; 
  background-color:#ddd;
  border-color:#ddd;
  color:#777;  

}

.xbtn-xl {
    width: 70px;
    font-size: 1.2em;
    background-color: #494d50; /*#777777; */
    border-color: #494d50;  /*#777;*/
    color: white; /*#95c1e8; /*#154975;*/
    font-weight: bold;
}

.btn-xl {
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    background-color: #7f868c;
    border-color: #7f868c;
    color: white;
    font-weight: bold;

}

.btn-primary:active{
  /*background-color:#ddd;
  border-color:#ddd;
  border-width:5px;
  color:#777; */
}

button:focus {
  /*outline:0; */
  outline-color: #337ab7;
  border-color:#337ab7;
}

.btn-primary:hover{
  background-color:#eee;
  border-color:#eee;
  color:#272b31; /*#222; */

}

.selected-neg {
  background-color: peachpuff;
  border-color: peachpuff;
  color:#272b31; /*#222;*/
}

.selected-pos {
  background-color: green;
  border-color: green;
  color:#fff;
}

