.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xbtn-xl{
  width:70px;
  font-size: 1.2em;
  background-color:#777;
  border-color: #777;
  color:#222;
  font-weight: bold;
}



buttonx:focus {
  outline:0; 
  background-color:#ddd;
  border-color:#ddd;
  color:#777;  

}

.btn-xl {
    width: 70px;
    font-size: 1.2em;
    background-color: #777777;
    border-color: #777;
    color: #154975;
    font-weight: bold;
}

.btn-primary:active{
  background-color:#ddd;
  border-color:#ddd;
  color:#777;

}

button:focus {
  /*outline:0; */
  outline-color: #337ab7;
  border-color:#337ab7;
}

.btn-primary:hover{
  background-color:#eee;
  border-color:#eee;
  color:#222;

}

.selected-neg {
  background-color: tomato;
  border-color: tomato;
  color:#fff;
}

.selected-pos {
  background-color: green;
  border-color: green;
  color:#fff;
}

