<div class="col-md-1 disable-text-selection">
    <div class="btn-group-vertical">
      <button [ngClass]="{'selected-btn': a_value && a_value!=null}" 
              type="button" 
              class="btn btn-primary btn-xl" 
              value=true
              (click)='emitAnswerSelected(true)'>
          YES
      </button>
      <br>
      <button [ngClass]="{'selected-btn': !a_value && a_value!=null}" 
              type="button" 
              class="btn btn-primary btn-xl" 
              value=false 
              (click)='emitAnswerSelected(false)'>
          NO
      </button>
    </div>
</div>
