<!--<header></header>-->

<!--<div class='domain container'>-->
<!--    <h3>-->
<!--      sorted-by-risk in the works!-->
<!--    </h3>-->
<!--</div>-->

<header></header>

<div class='domain container'
    *ngFor="let domain of domains; let j=index;" >
     <!--{{domain.outputs[j].riskValue}}-->
    <hr>
    <h2>{{domain.outputs[j].domainTitle}}</h2>
    <hr>
    
    <div *ngFor="let output of domain.outputs; let i = index">
        
       <h3>
           <span *ngIf="output.questionSequence<10">{{output.domainSequence}}.0{{output.questionSequence}}</span>
           <span *ngIf="output.questionSequence>=10">{{output.domainSequence}}.{{output.questionSequence}}</span>
           {{output.questionContent}}
       </h3>    
       
       <div class="hsi-label" *ngIf="output.answerValue==null">NA</div>
       <div class="hsi-label" *ngIf="output.answerValue">Yes</div>
       <div class="hsi-label" *ngIf="output.answerValue==false">No</div>
       <!--<div class="hsi-label" *ngIf="output.answerValue==false">No</div>-->
       
       <div *ngIf="output.answerValue!=null">
           <div *ngFor="let item of output.rationale">
               <p>{{item}}</p>
           </div>

           <div *ngIf="output.answerValue==false">
               <div class='hsi-label label-left'>Estimated Risk:</div>
               <div 
                *ngIf="output.answerValue==false"
                class='riskValue'
                [ngClass]="{'gry' : output.riskValue==null,
                            'grn' : output.riskValue<20 && output.riskValue!=null,
                            'red' : output.riskValue>30,
                            'ylo' : output.riskValue>20 && output.riskValue<30}">
                   {{output.convertedRiskValue}}
                </div>
                
                <div *ngIf="output.riskValue>20">       
                   <div *ngIf="output.strategy==null"><span class='hsi-label'>Strategy:</span> <span>None selected</span></div>
                   <div *ngIf="output.strategy=='ac'"><span class='hsi-label'>Strategy:</span> <span>Accept</span></div>
                   <div *ngIf="output.strategy=='tr'"><span class='hsi-label'>Strategy:</span> <span>Transfer</span></div>
                   <div *ngIf="output.strategy=='av'"><span class='hsi-label'>Strategy:</span> <span>Avoid</span></div>
                   <div *ngIf="output.strategy=='co'"><span class='hsi-label'>Strategy:</span> <span>Control</span></div>
    
                    <div *ngIf="output.impact==null"><span class='hsi-label'>Impact:</span> <span>None selected</span></div>
                    <div *ngIf="output.impact=='cs'"><span class='hsi-label'>Impact:</span> <span>Cost</span></div>
                    <div *ngIf="output.impact=='sc'"><span class='hsi-label'>Impact:</span> <span>Schedule</span></div>
                    <div *ngIf="output.impact=='pe'"><span class='hsi-label'>Impact:</span> <span>Performance</span></div>
                    
                    <div *ngIf="output.strategy=='av' || output.strategy=='co'">
                        <div *ngIf="output.mitigationPlan==''"><span class='hsi-label'>Mitigation Plan:</span> <span>None provided</span></div>
                        <div *ngIf="output.mitigationPlan"><span class='hsi-label'>Mitigation Plan: </span> </div>
                        <div *ngFor="let item of output.mitigationPlan">
                           <p>{{item}}</p>
                        </div>
                        
                        <div *ngIf="output.planTracking==''"><span class='hsi-label'>Plan Tracking: </span> <span>None provided</span></div>
                        <div *ngIf="output.planTracking" ><span class="hsi-label">Plan Tracking: </span></div>
                        <div *ngFor="let item of output.planTracking">
                           <p>{{item}}</p>
                        </div>
                    </div>
                    
                    <div *ngIf="output.stakeholdersInformed==null"><span class='hsi-label'>Stakeholder informed:</span> <span>NA</span></div>
                    <div *ngIf="output.stakeholdersInformed"><span class='hsi-label'>Stakeholder informed:</span> <span>Yes</span></div>
                    <div *ngIf="output.stakeholdersInformed==false"><span class='hsi-label'>Stakeholder informed:</span> <span>No</span></div>

                    <div *ngIf="output.strategyDocumented==null"><span class='hsi-label'>Strategy documented:</span> <span>NA</span></div>
                    <div *ngIf="output.strategyDocumented"><span class='hsi-label'>Strategy documented:</span> <span>Yes</span></div>
                    <div *ngIf="output.strategyDocumented==false"><span class='hsi-label'>Strategy documented:</span> <span>No</span></div>

                </div>
                <hr>
            </div>    
       </div>
     </div>
</div>