<div class="container-fluid disable-text-selection">
  <div class="col-md-6">
    <p style="font-size: 28px; color:white">Integration Trade-Offs: <span style="color:coral">Heuristics</span></p>
    <p style="font-size:1.3em">Click on the appropriate domains for trade-off evaluation.</p>
    <p style="font-size:1.3em" >Then, click the next button to begin evaluation.</p>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-success btn-block">MPT</button>
        <button type="button" class="btn btn-success btn-block">ESOH</button>
        <button type="button" class="btn btn-success btn-block">Manpower</button>
        <button type="button" class="btn btn-success btn-block">Personnel</button>
        <button type="button" class="btn btn-success btn-block">Training</button>
        <button type="button" class="btn btn-success btn-block">Human Factors</button>
        <button type="button" class="btn btn-success btn-block">Environment</button>
        <button type="button" class="btn btn-success btn-block">Safety</button>
        <button type="button" class="btn btn-success btn-block">Occupational Health</button>
        <button type="button" class="btn btn-success btn-block">Survivability</button>
        <button type="button" class="btn btn-success btn-block">Habitability</button>
      </div>
    </div>
  </div>
</div>
