.btn-group, .btn-group-vertical {
    width: 100%;
    margin-left: 25%;
}

.btn-blockx{
  font-size: 1.4em;
  text-align:left;
  padding-left:25px;
  height:43px;
  background-color: coral;
}


.btn, .btn-warning{
  background-color:coral;
}

.disable-text-selection {}

h2 {
  color:white;
}

.p-title{
  color:peachpuff;
  text-shadow: 1px 1px 1px #272b31;
  
}

.btn-block {
    height: 55px;
    width:50%;
    font-size: 1.5em;
    text-align:center;
    
    /*background-color: #7f868c;
    border-color: #7f868c;*/
    background-color: rgba(255,255,255,.25);
    border-color: rgba(0,0,0,.0001);    
    color: white;
}

button:focus {
  /*outline:0; */
  outline-color: #337ab7;
  border-color:#337ab7;
}

.btn-block:hover{
  background-color:#eee;
  border-color:#eee;
  color:#272b31; /*#222; */

}

.selected-btn {
  background-color: peachpuff;
  border-color: peachpuff;
  color:#272b31; /*#222;*/
}


.glyphicon{
  color: silver;
  font-size:4.5em;
  margin:30px;
}

.glyphicon:hover{
  color:#eee;
  cursor:pointer;
}

.selected{
  background-color: peachpuff;
  color: #222;
}
