<div class="row col-md-8 col-md-offset-2"
      *ngIf='showHeuristics'>
  <h1>Integration Trade-Offs</h1>
  <!--<h2 class='hsi-intgrn-title'>{{qnnTitle}}: -->
  <!--  <span class='p-title' -->
  <!--        id='project'>-->
  <!--    {{projectTitle}}-->
  <!--  </span>-->
  <!--</h2>-->
  <h2 class='p-title'>{{projectTitle}}:
    <span class='hsi-intgrn-title'>
      {{qnnTitle}}
    </span>
  </h2>

  <button (click)="addEval()" 
          *ngIf='!showForm'
          title='Add an evaluation.' 
          class='btn glyphicon glyphicon-plus  floating floating-green'>
  </button>
  <button (click)="addEval()"
          *ngIf='showForm'
          title='Hide form' 
          class='btn glyphicon glyphicon-minus floating floating-red'>
  </button>

  <hr>

  <form [ngClass]="{'hidden' : !showForm}" class="disable-text-selection">
    <h2>Create an evaluation:</h2>
    <h3>Click on the domains for this trade-off evaluation. Then, click the save button to begin the evaluation.</h3>

    <div class="col-md-12">
      <div class='row'>
        <button (click)='toggleMPT()' class="btn btn-success hsi-btn-intgrn">MPT</button>
        <button (click)='toggleESOH()' class="btn btn-success hsi-btn-intgrn">ESOH</button>
      </div>
      <div class="row checkbox-box">
          <div>
            <div id='mp' *ngIf='!mp' (click)='toggleCheckbox(mp)' class='checkbox-div' #mp><span class="glyphicon glyphicon-unchecked"></span>Manpower</div>
            <div id='mp' *ngIf='mp'  (click)='toggleCheckbox(mp)' class='selected checkbox-div' #mp><span  class="selected glyphicon glyphicon-check" ></span>Manpower</div>
            <div id='pe' *ngIf='!pe' (click)='toggleCheckbox(pe)' class='checkbox-div' #pe><span class="glyphicon glyphicon-unchecked"></span>Personnel</div>
            <div id='pe' *ngIf='pe'  (click)='toggleCheckbox(pe)' class='selected checkbox-div' #pe><span  class="selected glyphicon glyphicon-check" ></span>Personnel</div>
            <div id='tr' *ngIf='!tr' (click)='toggleCheckbox(tr)' class='checkbox-div' #tr><span class="glyphicon glyphicon-unchecked"></span>Training</div>
            <div id='tr' *ngIf='tr'  (click)='toggleCheckbox(tr)' class='selected checkbox-div' #tr><span  class="selected glyphicon glyphicon-check" ></span>Training</div>
            <div id='en' *ngIf='!en' (click)='toggleCheckbox(en)' class='checkbox-div' #en><span class="glyphicon glyphicon-unchecked"></span>Environment</div>
            <div id='en' *ngIf='en'  (click)='toggleCheckbox(en)' class='selected checkbox-div' #en><span class="selected glyphicon glyphicon-check"></span>Environment</div>
            <div id='sa' *ngIf='!sa' (click)='toggleCheckbox(sa)' class='checkbox-div' #sa><span class="glyphicon glyphicon-unchecked"></span>Safety</div>
            <div id='sa' *ngIf='sa'  (click)='toggleCheckbox(sa)' class='selected checkbox-div' #sa><span class="selected glyphicon glyphicon-check"></span>Safety</div>
            <div id='oh' *ngIf='!oh' (click)='toggleCheckbox(oh)' class='checkbox-div' #oh><span class="glyphicon glyphicon-unchecked"></span>Occupational Health</div>
            <div id='oh' *ngIf='oh'  (click)='toggleCheckbox(oh)' class='selected checkbox-div' #oh><span class="selected glyphicon glyphicon-check"></span>Occupational Health</div>
            <div id='hu' *ngIf='!hu' (click)='toggleCheckbox(hu)' class='checkbox-div' #hu><span class="glyphicon glyphicon-unchecked"></span>Human Factors</div>
            <div id='hu' *ngIf='hu'  (click)='toggleCheckbox(hu)' class='selected checkbox-div' #hu><span  class="selected glyphicon glyphicon-check" ></span>Human Factors</div>
            <div id='su' *ngIf='!su' (click)='toggleCheckbox(su)' class='checkbox-div' #su><span class="glyphicon glyphicon-unchecked"></span>Survivability</div>
            <div id='su' *ngIf='su'  (click)='toggleCheckbox(su)' class='selected checkbox-div' #su><span class="selected glyphicon glyphicon-check"></span>Survivability</div>
            <div id='ha' *ngIf='!ha' (click)='toggleCheckbox(ha)' class='checkbox-div' #ha><span class="glyphicon glyphicon-unchecked"></span>Habitability</div>
            <div id='ha' *ngIf='ha'  (click)='toggleCheckbox(ha)' class='selected checkbox-div' #ha><span class="selected glyphicon glyphicon-check"></span>Habitability</div>

          </div>
          <br>
          <div class='row hsi-intgrn-btn-row'>
            <button class="btn btn-info hsi-right" 
                type='button'
                (click)='goToEvaluation()'>
              Save
            </button>
            <button class="btn btn-default hsi-btn-default-alt hsi-right" 
                  title="Clear and close the form"
                  type=button 
                  (click)='clearAll()'>
              Clear
            </button>
            <div *ngIf="showErrorMessage" class='errorMessage'>You must select at least two domains</div>
            <div *ngIf="showDupeErrorMessage" class='errorMessage'>An evaluation with these domains already exists. Click 'Save' again to go to it.</div>

          </div>  
      </div>  
    </div>
  </form>
  
 <app-intgrn-completed *ngIf=!showForm></app-intgrn-completed>

</div>


<app-intgrn-assmit *ngIf='!showHeuristics'
                   (hideMe)="onHideMe($event)" 
                   [evaluationTitle]='evaluationTitle'
                   [activeEvaluation]='activeEvaluation'
                   [projectTitle]='projectTitle'
                   [qnnTitle]='qnnTitle'
                   [showHeuristics]='showHeuristics'>
</app-intgrn-assmit>