<div class="container"
      *ngIf='showHeuristics'>
    <h1>Integration Trade-Offs: <span style="color:coral">Heuristics</span></h1>
    <h2>{{qnnTitle}}: 
      <span class='p-title' 
            id='project'>
        {{projectTitle}}
      </span>
    </h2>

  <div class="container-fluid disable-text-selection">
    <div class="col-md-6">
      <!--p style="font-size: 28px; color:white">Integration Trade-Offs: <span style="color:coral">Heuristics</span></p-->
      <h3>Click on the appropriate domains for trade-off evaluation.</h3>
      <h3>Then, click the next button to begin evaluation.</h3>
    </div> 
    <div class="row">
      <div class="col-md-2">
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-success btn-block">MPT</button>
          <button type="button" class="btn btn-success btn-block">ESOH</button>
          <button type="button" class="btn btn-success btn-block selected">Manpower</button>
          <button type="button" class="btn btn-success btn-block selected">Personnel</button>
          <button type="button" class="btn btn-success btn-block selected">Training</button>
          <button type="button" class="btn btn-success btn-block">Human Factors</button>
          <button type="button" class="btn btn-success btn-block">Environment</button>
          <button type="button" class="btn btn-success btn-block">Safety</button>
          <button type="button" class="btn btn-success btn-block">Occupational Health</button>
          <button type="button" class="btn btn-success btn-block">Survivability</button>
          <button type="button" class="btn btn-success btn-block">Habitability</button>
        </div> 
      </div>
    </div>  
  </div>

<!-- Prev/Next Buttons -->
  <div id='footer'>
      <!--div 
          *ngIf="!atFirstQuestion && !showMenu" 
          (click)="getPrevQuestion()" 
          class="glyphicon glyphicon-circle-arrow-left pull-left">
      </div-->
      
      <div 
          (click)="goToEvaluation()" 
          class="glyphicon glyphicon-circle-arrow-right pull-right">
      </div>
  </div>
</div>


<app-intgrn-assmit *ngIf='!showHeuristics'
                   (hideMe)="onHideMe($event)" 
                   [projectTitle]='projectTitle'
                   [qnnTitle]='qnnTitle'
                   [showHeuristics]='showHeuristics'>
  
</app-intgrn-assmit>