.btn.glyphiconx{
    font-size: 1.4em;
    background: tomato;
    color:white;
}

.floatingx {
    position: fixed;
    top: 82.5%;
    left: 73%;
    width: 60px;
    height: 60px;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(39, 43, 49, .5);
    /*background: coral;*/
}


.hidden {
    display: none;
}





/**************/
.btn-group, .btn-group-vertical {
    width: 100%;
    margin-left: 5%;
}

.btn-blockx{
  font-size: 1.4em;
  text-align:left;
  padding-left:25px;
  height:43px;
  background-color: coral;
}


.btn, .btn-warning{
}

.disable-text-selection {}


.p-title{
  color:peachpuff;
  text-shadow: 1px 1px 1px #272b31;
  
}

.btn-block {
    height: 55px;
    width:70%;
    font-size: 1.5em;
    text-align:center;
    
    /*background-color: #7f868c;
    border-color: #7f868c;*/
    background-color: rgba(255,255,255,.25);
    border-color: rgba(0,0,0,.0001);    
    color: white;
}

button:focus {
  /*outline:0; */
  outline-color: #337ab7;
  border-color:#337ab7;
}

.btn-block:hover{
  background-color:#eee;
  border-color:#eee;
  color:#272b31; /*#222; */

}

.selected-btn {
  background-color: peachpuff;
  border-color: peachpuff;
  color:#272b31; /*#222;*/
}


.glyphicon{
  color: silver;
  font-size:4.5em;
  margin:30px;
}

.glyphicon:hover{
  color:#eee;
  cursor:pointer;
}

.selected{
  background-color: peachpuff;
  color: #222;
}



/********************/

.hsi-intgrn-title{
  color: white;
}

.hsi-intgrn-instruction{
  width:1000px;
}

.checkbox-box {
  min-width: 1000px
}

.checkbox-divx {
  float: left;
  font-size: 2em;
  width: 50%;
  min-width: 500px;
  background: white;
  margin: 0;
}

.checkbox-div {
  cursor: pointer;
  float: left;
  font-size: 1.7em;
  color:silver;
  width: 33%;
  height: 100px;
  min-width: 333px;
  background: white;
  margin: 0;
}

.checkbox-div:hover {
  color:#272b31;
}

.glyphicon-check, .glyphicon-unchecked {
  font-size: 1em;
  background: transparent;
}

.glyphicon-check:hover, .glyphicon-unchecked:hover {
  color:coral;
  background:transparent;
}

.blank {
  color:transparent;
  background:transparent;
}

.blank:hover {
  color:transparent;
  background: transparent;
  
}

.glyphicon-check.blank:hover {
  background:transparent;
  color:transparent;
}

.hsi-intgrn-btn-row {
  width:100%;
  min-width: 1000px;
}

.hsi-btn-default-alt {
    color: #ffffff;
    background-color: rgba(255, 255, 255, .25);
    border-color: transparent;
}

.hsi-btn-default-alt:hover {
  color: #222;
  background-color: rgba(255, 255, 255, .75);
  border-color: transparent;
}

.hsi-intgrn-btn-row > .btn {
  margin-top:8px;
  margin-left:8px;
}
.hsi-right {
  float:right;
}

.hsi-btn-intgrn {
  width:200px;
  color:#fff;
  background-color: rgba(255, 255, 255, .25);
  border-color: transparent;

}

.hsi-btn-intgrn:hover {
  color: #222;
  background-color: rgba(255, 255, 255, .75);
  border-color: transparent;

}

.btn-div {
  margin-top:8px;
}

.errorMessage {
    float: right;
    margin: 10px;
    font-size: 1.5em;
    color: tomato;
}

.floating {
    position: fixed;
    top: 80%;
    left: 80%;
    font-size:3em;
    color:white;
    background: #5ed263;
    width: 80px;
    height: 80px;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(39, 43, 49, .5);
}

.floating-red {
  background: coral; /*#5bc0de; /*tomato; */
  border-color:coral; /*#5bc0de; /*tomato; */
}


.floating-green {
  background: #4caf50; /*#5bc0de; /* #5ed263;*/
  border-color: #4caf50; /* #5bc0de; /* #5ed263;*/
}

/* #5ed263 */