<div class="container-fluid">
    <form [formGroup]='myForm'>
        <!--div id="rationale" 
             class="disable-text-selection" 
             style="margin-top:0px;" 
             for="comment">
          RATIONALE:
        </div-->
        <div class='rationalBox'></div>
        <textarea
                  [ngModel]='a_details?.rationale' 
                  (focus)='setStart($event)' 
                  (focusout)="updateAnswer($event)" 
                  class="form-control rationalText" 
                  rows="5" 
                  id="comment" 
                  formControlName='comment'>
       </textarea>
    </form>
</div>
