#main {
    margin-top:45px;
}

.hidden {
    display: none;
    
}
#warningMessage {
    top: 20%;
    left: 25%;
    width: 50%;
    height: 400px;
    position: absolute;
    padding:35px;
    background: rgba(255, 255, 255, .9);
    color: rgba(0, 0, 0, .85);
}

#logoutWarning{
    margin-left: 10px;
    
}
.hsi-navbar-top {
    background:#272b31;  /*#494d50; */
    color:#272b31;
}
/*#a94442 */
.active {
    color:peachpuff;
}


/*.glyphicon-user, .glyphicon-off{*/
    /*color: white;*/
    /*float: right;*/
    /*font-size: 1.3em;*/
    /*padding: 6px;*/
    /*padding-top: 10px;*/
    /*margin-top: 5px;*/
/*}*/

/*.glyphicon-user:active, .glyphicon-off:active{*/
/*    color: peachpuff;*/
    /*float: right;*/
    /*font-size: 1.3em;*/
    /*padding: 6px;*/
/*    padding-top: 5px;*/
    /*margin-top: 5px;*/
/*}*/

.topMenuItem {
    float:left;
    padding: 10Px;
    font-size: 1.35em;
}

.topMenuItem:hover{
    /*background-color: peachpuff; /*#a94442;*/
}

.topMenuItem.active {
    color:peachpuff;
}

.topMenuItem.active:hover {
    color:white;
}

.top-menu-help {
    float: right;
}

.glyphicon-user, .glyphicon-off, .glyphicon-wrench {
    color: white;
    padding:14px;
}

.glyphicon-wrench.active {
    color:coral;
}

a {
    color:white;
    text-decoration: none;
}

a:active {
    color:peachpuff;
}

a:hover {
    color: white;
    background: #5bc0de; /*#272b31; /* peachpuff; /*#ffdab9; */
}

.blocked {
    display: none;

}

.float-right {
    float:right;
}

/*
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
*/