#main {
    margin-top:45px;
}

.hsi-navbar-top {
    background:#272b31;  /*#494d50; */
    color:#272b31;
}
/*#a94442 */
.active {
    color:peachpuff;
}

.topMenuItem {
    float:left;
    padding: 10Px;
    font-size: 1.35em;
}
.topMenuItem:hover{
    /*background-color: peachpuff; /*#a94442;*/
}
a {
    color:white;
    text-decoration: none;
}

a:active {
    color:peachpuff;
}

a:hover {
    color: white;
    background: #5bc0de; /*#272b31; /* peachpuff; /*#ffdab9; */
}

.blocked {
    display: none;

}

/*
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
*/