<div class="container disable-text-selection">
    <div class="row">
        <div class="col-md-12">
            <!--p style="font-size: 28px; color:white">Integration Trade-Offs: <span style="color:coral">Manpower vs. Personnel vs. Training</span></p-->
            <h1>Integration Trade-Offs: <span style="color:coral">Evaluation Review</span></h1>
            
            <h2>{{qnnTitle}}: 
                <span class='p-title' 
                      id='project'>
                  {{projectTitle}}
                </span>
            </h2>
                <h3>Click on the evaluations to edit them. When the review is complete, click the submit button for the report preview.</h3>
        </div>
    </div>

    <!--div class="row"-->
        <ul>
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Manpower vs. Personnel vs. Training (MPT)</button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Environment vs. Safety vs. Occupational Health (ESOH)</button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Manpower vs. Human Factors </button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Personnel vs Human Factors</button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Training vs. Human Factors </button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Environment vs Occupational Health </button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Safety vs Occupational Health</button>
            </li>
            
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-block">Occupational Health vs. Survivability </button>
            </li>
            
        </ul>
    <!--/div-->

    <footer>
      <div 
          (click)="hideCompleted()" 
          class="glyphicon glyphicon-circle-arrow-left pull-left">
      </div>        
      <div
          class="glyphicon glyphicon-thumbs-up pull-right smaller"><span class='btn-title'>Submit</span>
      </div>
    </footer>

</div>
