<div *ngIf="!isInitialized" class="loading" >
    <img src="/assets/images/ring.gif" alt="loading...">
</div>

<div *ngIf="isInitialized"  class="disable-text-selection hsi-intgrn-form">
    <!--<h2 *ngIf='integrations.length>0'>Select an evaluation:-->
    <!--</h2>-->
    <!--<h2 *ngIf='integrations.length==0'>Click the plus button below to create an evaluation:-->
    <!--</h2>-->
    
    <div class="row col-md-12">
        
        <!--{{activeEvaluationTotal}}-->
        <!--{{archiveEvaluationTotal}}-->
        
        <div class="title-row'">
            <div class='direction'>Select an Evaluation:
                <span *ngIf="archiveEvaluationTotal>0">
                    <span (click)="toggleArchivedEvals()" *ngIf="!showArchives" class="archives">Show archives</span> 
                    <span (click)="toggleArchivedEvals()" *ngIf="showArchives" class="archives">Show active evaluations</span> 
                </span>
            </div>
        </div>

        <div *ngIf="!showArchives && activeEvaluationTotal == 0" class='title-row message' >
            <h1 *ngIf="archiveEvaluationTotal > 0 ">{{archivesMessage}}</h1>
            <h1 *ngIf="archiveEvaluationTotal == 0 ">{{message}}</h1>
        </div>

        <app-intgrn-archive *ngIf="showArchives"
                            [integrations] ="integrations"
                            [showArchives] = "showArchives">
            
        </app-intgrn-archive>
        
        <span *ngIf="!showArchives && activeEvaluationTotal > 0">
            <div *ngFor="let integration  of integrations" 
                  id={{integration.id}}
                  
                  #evaluation>
                <div *ngIf="!integration.archived"
                      class="hsi-intgrn-complete">
                    <h2>
                        <a  title="Resume work on this in this evaluation"
                            (click)="onResumeEvaluation(evaluation)" >
                            {{integration.title}}
                        </a>
                    </h2>
                    <div class='row hsi-btn-row'>
                        <button *ngIf="1!=0" 
                                title="Resume work on this in this evaluation"
                                id={{integration.id}}
                                type="button" 
                                class="btn btn-info" 
                                (click)="onResumeEvaluation(evaluation)">
                            Resume
                        </button>                        
                        <button type="button"
                                title="Add or remove domiains in this evaluation"
                                class="btn btn-default hsi-btn-default" 
                                (click)="onEdit(evaluation)">
                            Edit Title
                        </button>
                        <button type="button" 
                                title="Archive this evaluation"
                                class="btn btn-default hsi-btn-default"
                                (click)="onArchive(integration)">
                            Archive
                        </button>
                    </div>
                </div>
            </div>
        </span>
        
        <!--div class="hsi-intgrn-complete">Environment vs. Safety vs. Occupational Health (ESOH)</div>
        <div class="hsi-intgrn-complete">Manpower vs. Human Factors </div>
        <div class="hsi-intgrn-complete">Manpower vs. Personnel vs. Training (MPT)Manpower vs. Personnel vs. Training (MPT)</div>
        <div class="hsi-intgrn-complete">Environment vs. Safety vs. Occupational Health (ESOH)</div>
        <div class="hsi-intgrn-complete">Manpower vs. Human Factors </div>
        <div class="hsi-intgrn-complete">Manpower vs. Personnel vs. Training (MPT)Manpower vs. Personnel vs. Training (MPT)</div>
        <div class="hsi-intgrn-complete">Environment vs. Safety vs. Occupational Health (ESOH)</div>
        <div class="hsi-intgrn-complete">Manpower vs. Human Factors </div-->
    </div>
</div>
