.container{
  width:65%;
}

.hsi-intgrn-title {
    color:white;
}

.form-control{
  width:120%;
  padding-top:5px;
  margin-top:20px;
  height:250px;
  font-size:1.2em;
}

.disable-text-selection {}

.glyphiconx{
  color: silver;
  font-size:4.5em;
  margin:30px;
}

.glyphicon {
    color: silver;
    font-size: 4.5em;
    margin: 30px;
    position: fixed;
    top: 80%;
    left: 80%;
}

.glyphicon:hover{
  color:#eee;
  cursor:pointer;
}

