.container{
  width:65%;
}

.hsi-intgrn-title {
    color:white;
}

.form-control{
  width:120%;
  padding-top:5px;
  margin-top:20px;
  height:275px;
  font-size:1.2em;
}

.disable-text-selection {}

.glyphicon{
  color: silver;
  font-size:4.5em;
  margin:30px;
}

.glyphicon:hover{
  color:#eee;
  cursor:pointer;
}
