.disable-text-selection {}


.nav{
  height:0px;
}

.navbar-header{
  height:0px;
}

.navbar {
    /*background-color:#7f868c; /*#555;*/
    /*border-color: #7f868c; /* #080808; */
    background-color: rgba(255,255,255,.15);
    border-color: rgba(0,0,0,.0001);    
    width: 103%;
}

.nav-tabs{
  height: 0px;
  font-size:1.6em; /*larger;  /*1.1em; */
  border-color: #272b31; /*#222; */
  border-width: 2px;
}

h2{
  color:white;
  font-weight: 600;
}

.p-title{
  text-shadow: 1px 1px 1px #272b31;
  
}

a {
  color: white; /*#95c1e8; */
  font-weight: 500;
  font-size:1.1em;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: peachpuff; /*#272b31;*/
    border-radius: 12px 12px 0px 0px;
    cursor: default;
    background-color: #272b31; /*peachpuff;  /*#a94442; */
    /* border: 1px solid #ddd; */
    border-width: 1px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent; /*#272b31;*/
}

a:hover {
    background-color: peachpuff;
    border-color:peachpuff;
    color: #272b31;  /*#222; */
    text-shadow: none;
}

.glyphicon{
  color: silver;
  font-size:4.5em;
  margin:30px;
}

.glyphicon:hover{
  color:#eee;
  cursor:pointer;
}

app-qstn-menu {
  color:peachpuff;
}

#footer{
  height: 50px;
}
.glyphicon-menu-down, .glyphicon-menu-up {
  font-size: 10px;
  margin:0px;
  color:silver;  
}

.glyphicon-menu-down:hover, .glyphicon-menu-up:hover {
  color:peachpuff;
}


.glyphicon-circle-arrow-leftx, .glyphicon-circle-arrow-rightx {
  font-size: 1em;
}

