<header></header>

<div class='domain container'>
    <h2>Trade-Off Analysis</h2>
    <div *ngFor="let tradeOff of tradeOffs">
        <h3>{{tradeOff.integration.title}}</h3>
        
        <div class='orphan-control' *ngIf="tradeOff.risksIssuesConcerns==''"><span class='hsi-label'>Risks, Issues, and Concerns: </span> <span>None provided</span></div>
        <div class='orphan-control' *ngIf="tradeOff.risksIssuesConcerns" ><span class="hsi-label">Risks, Issues, and Concerns: </span></div>
         <div class='orphan-control' *ngFor="let item of tradeOff.risksIssuesConcerns">
           <p class='orphan-control'>{{item}}</p>
        </div>

        <div class='orphan-control' *ngIf="tradeOff.mitigationStrategy==''"><span class='hsi-label'>Mitigation Strategy: </span> <span>None provided</span></div>
        <div class='orphan-control' *ngIf="tradeOff.mitigationStrategy" ><span class="hsi-label">Mitigation Strategy: </span></div>
        <div class='orphan-control' *ngFor="let item of tradeOff.mitigationStrategy">
           <p class='orphan-control'>{{item}}</p>
        </div>

    </div>
    <hr><br>
</div>