h2, h3 {
  font-weight: 600;
}

.domain.container {
  color:#222;
  background:#eee;
  /*margin-left:-15px;*/
}


.hsi-label {
  font-size: 1.3em;
  font-weight:600;
}

p {
    font-size: 1.4em;
    font-weight: normal;
}



@media print {
    header {page-break-after: always;}
    p {orphans: 3;}
    /*.qnn {page-break-after: always;} */
    /*.riskValue {color:#ffffff !important; -webkit-print-color-adjust: exact; }*/
    /*.hsi-detail {color:#fd5f60 !important; -webkit-print-color-adjust: exact; }*/
    /*.gry {background-color:#ddd !important; -webkit-print-color-adjust: exact; }*/
    /*.grn {background-color:#00b200 !important; -webkit-print-color-adjust: exact; }*/
    /*.ylo {background-color:#ffff4f !important; color:#222 !important; -webkit-print-color-adjust: exact; }*/
    /*.red {background-color:#fa3636 !important; -webkit-print-color-adjust: exact; }*/
    
    /*.container * { */
      /*.orphan-control *{*/
    /*  orphans: 5 !important;*/
    /*}*/
    
    .container {
        margin-right:50px !important; 
        margin-left:50px !important;
        orphans: 10 !important;
    }
    .container {zoom:120% !important; 
      background-color: white !important;
      text-align:left;
      width: 95%;
      border: 0;
      /*margin: 0 5%;*/
      padding: none !important;
      float: none !important;
    }

    /*margin-top:50px !important;margin-bottom:60px !important;}*/


}