/* You can add global styles to this file, and also import other style files */
body{
    margin-left:20px;
    color: rgba(255, 255, 255, .8); /*#aaa; */
    background-color: #272b31;  /*darkslategray*/
    width:95%;
    min-width: 1280px;
    font-size:1.5em;
}

.hsi-h2 {
    color: #444;
}
.p-title {
    color:peachpuff;
}
.row-qnn {
    margin-bottom: 20px;
}

.loading  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading > img {
    width:75px;
    height: 75px; 
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn{
    font-size: 1.4em;
}


.hsi-header{
    position: relative;
    top: 0;
    left:0;
}

.hsi-footer{
    bottom: 0;
    left:0;
    right: 0;
}

.glossary {
    cursor: pointer;
    color:peachpuff;
}

.glossaryx:hover {
    cursor: pointer;
    color:peachpuff;
}


/*span {*/
/*  color: #900;*/
/*  text-decoration: none;*/
/*}*/

/*span:hover {*/
/*  color: red;*/
/*  position: relative;*/
/*}*/

/*.glossary[title]:hover:after {*/
/*  content: attr(title);*/
/*  padding: 4px 8px;*/
/*  color: #333;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 100%;*/
/*  white-space: nowrap;*/
/*  z-index: 20px;*/
/*  -moz-border-radius: 5px;*/
/*  -webkit-border-radius: 5px;*/
/*  border-radius: 5px;*/
/*  -moz-box-shadow: 0px 0px 4px #222;*/
/*  -webkit-box-shadow: 0px 0px 4px #222;*/
/*  box-shadow: 0px 0px 4px #222;*/
/*  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
/*  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));*/
/*  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);*/
/*  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);*/
/*  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);*/
/*  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);*/
/*}*/


@page {
   margin-bottom:2cm;
   margin-top:2cm;
}

@media print {
    
    .hsi-header { 
        display: block;
        page-break-before: always; 
        margin-left:-2cm;
    }
    
    .hsi-footer { 
        position: relative;
        bottom: -12.5cm;
        margin-left:-2cm;
    }    
    
}

/*@media print {*/
/*    .orphan-control * {*/
/*      orphans: 5;*/
      
/*    }*/
/*}*/

/*h1#app-title {  */
/*  string-set: doctitle content();  */
/*} */
 
/*@page :right { */
/*  @top-right { */
/*    content: " New!";*/
/*  } */
/*}*/