h2 {
    font-size: 1.5em;
    
}

h3 {
    font-size: 1.3em;
}

h4{
    font-size: 1.2em;
}

img {
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

p {

}

.manual-title {
    color:peachpuff;
}

#help-page {
    padding-left:2%;
    padding-right:2%;
    font-size:1.4em;
    background-color: white;
    color: #222;    
}

.inline-img-small {
    width:2%;
    margin-left:0;
    margin-right:0;
}

.figure-label {
    margin-left: 10%;
}

.row {
    /*font-size:1.4em;*/
    /*background-color: white;*/
    /*color: #222;*/
}

ul {
    list-style: none
}

ul.with-bullets {
    list-style: disc;
}

li[class^="toc"]{
    padding-bottom: 5px;
    cursor: pointer
}


.toc-level-1{
    font-size: 1.25em;
}

.toc-level-2{
    margin-left: 32px;
    /*font-size: 1.5em;*/
    
}

.toc-level-3{
    margin-left: 72px;
    /*font-size: 1.5em;*/
    
}

.toc-number {
    padding-right:8px;
    /*font-size: 1.5em;*/
    
}

.floating {
    position: fixed;
    top: 83%;
    left: 83%;
    font-size:3em;
    color:white;
    background: #5ed263;
    width: 80px;
    height: 80px;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(39, 43, 49, .5);
}


/*@media print {*/
/*    footer {page-break-after: always;}*/
/*    img, .figure-label {*/
/*        margin-left: 2%;*/
/*    }*/
/*}*/

@media print {

    footer {page-break-after: always;}
    img, .figure-label {
        margin-left: 2%;
    }

    #help-page  {
        padding: 0;
    }  
    
    .row {
      width: 80%; 
      zoom:85%;
      /*text-align: center !important;*/
      margin:0; 
      margin-left:4%;

      /*margin-top:25% !important;*/
      float:none!important;
    }
    .inline-title {float: none !important;}


}