
<div *ngIf='!isInitialized' class="loading">
    <img src="/assets/images/ring.gif" alt="loading...">
</div>

<div *ngIf='isInitialized' class='container'>
    <h2>CART</h2>
    <div *ngFor="let qnn of qnns">
        <h3 *ngIf="qnn.category==1"
            (click)="selectThisQnn(qnn)"
            class="qnnTitle"
            [ngClass]="{'active': isThisTheCurrenQnn(qnn)}">
        {{qnn.title}} ({{qnn.abbreviation}})</h3>
    </div>
    <h2>PRAT</h2>
    <div *ngFor="let qnn of qnns">
        <h3 *ngIf="qnn.category==2"
             (click)="selectThisQnn(qnn)"
             class="qnnTitle"
             [ngClass]="{'active': isThisTheCurrenQnn(qnn)}">
        {{qnn.title}} ({{qnn.abbreviation}})</h3>
    </div>    
</div>