<div class="filter-box">
    <div class="col-md_10 filter-list">
        <div>Make these icons visible:</div>
        <div>
          <input  type="checkbox" name="gender" value="male">Yes
          <label class="glyphicon glyphicon-ok"> </label><br>
        </div>
        <div>
          <input  type="checkbox" name="gender" value="male">No
          <label class="glyphicon glyphicon-remove"> </label><br>
        </div>
        <div>
          <input  type="checkbox" name="gender" value="male">Low Risk
          <label class="glyphicon glyphicon-info-sign"> </label><br>
        </div>
        <div>
          <input  type="checkbox" name="gender" value="male">Medium Risk
          <label class="glyphicon glyphicon-exclamation-sign"> </label><br>
        </div>
        <div>
          <input  type="checkbox" name="gender" value="male">High Risk
          <label class="glyphicon glyphicon-warning-sign"> </label><br>
        </div>
        <div>
          <input  type="checkbox" name="gender" value="male">Rationale
          <label class="glyphicon glyphicon-pencil"> </label><br>
        </div>
    </div>
</div>