<div *ngIf="!isInitialized" class="loading" >
    <img src="/assets/images/ring.gif" alt="loading...">
</div>


<div *ngIf="activeProjectTotal == 0 && isInitialized  && !showForm"
     class="row col-md-8 col-md-offset-2">

    <div *ngIf="projects.length > 0"
         class='title-row'>
        <div class='direction'>Select a Project:
            <span (click)="toggleArchivedProjects()" *ngIf="!showArchives" class="archives">Show archives</span> 
            <span (click)="toggleArchivedProjects()" *ngIf="showArchives" class="archives">Show active projects</span> 
        </div>    
    </div>
    <span *ngIf="showArchives">
        <app-proj-archive class="list-group"
                          *ngFor="let project of projects"
                          [project]='project'
                          [showArchives]='showArchives'>
        </app-proj-archive>
    </span>
    
   <div *ngIf="!showArchives" class='title-row message' >
       <h1 *ngIf="projects.length > 0 ">{{archivesMessage}}</h1>
       <h1 *ngIf="projects.length == 0 ">{{message}}</h1>
   </div>
   
</div>

<div *ngIf="activeProjectTotal > 0  && isInitialized" 
     class="row col-md-8 col-md-offset-2">
    <div class='title-row'>
        <div class='direction'>Select a Project:
        <span *ngIf="projects.length > activeProjectTotal">
            <span (click)="toggleArchivedProjects()" *ngIf="!showArchives" class="archives">Show archives</span> 
            <span (click)="toggleArchivedProjects()" *ngIf="showArchives" class="archives">Show active projects</span> 
        </span>
    </div>
    
    <span *ngIf="!showArchives">
        <app-proj-detail class="list-group" 
                    *ngFor="let project of projects" 
                    [project]='project'
                    [showArchives]='showArchives'>
        </app-proj-detail>
    </span>
    
    <span *ngIf="showArchives">
        <app-proj-archive class="list-group"
                          *ngFor="let project of projects"
                          [project]='project'
                          [showArchives]='showArchives'>
        </app-proj-archive>
    </span>
</div>  
