<li class="list-group-item">
    <h3 title="Go to the last edited item in this project"><a ng-reflect-router-link='/tools' (click)='onGoToProject(t)' #t>{{project.title}}</a></h3> 
    <div>
        {{project.description}}
        <hr>
        <button type="button" class="btn btn-info" (click)="onEdit()">Edit</button>
        <button type="button" class="btn btn-default" ng-reflect-router-link='/tools' (click)="onGoToProject(q)" #q>Resume</button>
        <button type="button" class="btn btn-default" (click)="onDelete()">Delete</button>
    </div>
</li>