<li class="list-group-item">
    <h2 title="Go to the last edited item in this project"><a ng-reflect-router-link='/tools' (click)='onGoToProject(t)' #t>{{project.title}}</a></h2> 
    <div>
        <span class='p-desc'>{{project.description}}</span>
        <hr>
        <!--button *ngIf="project.state!=null" type="button" class="btn btn-info" ng-reflect-router-link='/tools' (click)="onGoToProject(q)" #q>Resume</button-->
        <button *ngIf="project.state!=null" type="button" class="btn btn-info" ng-reflect-router-link='/tools' (click)="onResumeProject(q)" #q>Resume</button>

        <button type="button" class="btn btn-default hsi-btn-default" (click)="onEdit()">Edit</button>
        <button type="button" class="btn btn-default hsi-btn-default" (click)="onDelete()">Delete</button>
    </div>
</li>