/* You can add global styles to this file, and also import other style files */

/**** div table for risk probability and severity/impact ratings */
#table_box {   /* contains all the table elements */
  float:left;
  width:400%; /*100.5%; */
  height:40%;
  margin-top: 40px;
  background:white;
  font-size: 1.1em;
  padding-left:0px;
  visibility: hidden;
  /* visible | hidden  */
}

#risk_table_box {
  margin-top: 10px;
  min-width: 780;
}

.row {
  float:left;
  width:115%;
  font-size:1em;
  text-align:center;
  position: relative
  /*word-wrap: break-word; */
  /*word-wrap: break-word; */
}
.rh { /* row header attributes - to the left of the row */
  float: left;
  width: 120px;
  height: 20px;
  color:#C8C8C8;
  font-size: 1.12em;
  padding: 2px 2px;
  padding-top:10px;
  padding-right:5px;
  text-align: right;
  
}
.rh1 {   /* row header attributes - to the left of the row */
  float:left;
  width:20%;
  height: 30px;
  color:white;
  font-size: 1.0em;
  padding: 2px 2px;
}
.th , .td, .th1 {   /* table/column header and table cell shared attributes */
  float:left;
  width:14.6%;
  padding: 2px 4px;
  color:white;
}
.th {  /* table/column header unique attributes */
  height:30px;
  width:12%;
  display: table-cell;
  vertical-align: bottom;
  color:#C8C8C8;
  font-size:1.12em;
}
.th1 {  /* table/column header unique attributes */
  background-color:#D4E4CD;
}

.tdxx {   /* table cell unique attributes  */
  height:59px;
  width:115px;
  border-style: solid;
  border-color:black;
  border-width:3px;
  font-size:0px;  /* don't show the x */
}

.td {
    height: 62px;
    /*margin: 1px;*/
    width: 12%;
    border-width:1px;
    border-style: solid;
    border-color: #272b31; /*#222*/
    font-size: 0px;
}

button {
  /*outline-color: peachpuff;
  outline-width: 3px; */
}
button:focus {
  /*outline:0; 
  outline-width: thick;
  outline-color: #337ab7;
  border-color:#337ab7;
  border-width:2px; */

}

.td[_ngcontent-c7]:focus {  
  border-width:2px;
  border-color:#337ab7;
  border-style: groove;

}


.th2 {
  height:62px;
  width:115px;
  padding-left: 30px;
  display: table-cell;
  vertical-align: bottom;
  color:#C8C8C8;
  font-size:1.12em; 
  border:none;
}

.vertical {
    position: absolute;
    background: none;
    top: 15px;
    left: 40px;
    width: 1em;
    height: 280px;
    color: #bbb;
    font-size: 1.12em !important;
    border-right: dotted 1px #777;
    padding-right: 25px;
    padding-top: 25px;
    font-size: 1em;
}

.horizontal {
    position: absolute;
    top: 38px;
    left: 182px;
    width: 62%;
    font-size: 1.12em;
    color: #bbb;
    border-top-color: white;
    border-top-color: #777;
    border-top-width: 1px;
    border-top-style: dotted;
    padding-top: 10px;
}

/*.th1:hover {
  cursor:cell;
  background:yellow; /*#69aa31 previous ; /* selected #;
}*/

.green{
  background-color:#D4E4CD;
}

.green:hover{
  background:#00b200; /*green;*/
  cursor:pointer;
}
.g-on{
  background:#00b200; /*green;*/
}

.yellow{
  background-color:#FCF8E3;
}
.yellow:hover{
  background:#ffff4f; /*yellow; */
  cursor:pointer;
}
.y-on {
   background:#ffff4f; /*yellow; */
}

.red{
  background: #F2DEDE;
}

.red:hover{
  background:#fa3636; /*red; */
  cursor:pointer;
}
.r-on{
  background:#fa3636; /*red;*/
}

html, body, .container {
  height: 100%;
}

.th111{
  opacity: 0%;
  border:none
}
.th112{
  width:65px;
  border:none;
  
}

.disable-text-selection {}

#first_td_impactx {
    border-left: white 1px solid;

}
#row_impacr{
  height: 40px;
}

#row_probability >.th {
  padding-top: 10px;
}


#probabilityx, #impactx{
  background-color: #333;
  padding-top: 10px;
  padding-bottom:30px;
  text-align: center;
}

/**** Rationale input elements */
/* mobile css  */
@media (max-device-width: 1280px) and (orientation: landscape) {
  #main_cardx {
    height:410px;
    font-size:1.1em;
    width:80%;
  }
}
@media (max-device-width: 1280px) and (orientation: portrait) {
  #main_cardx {
    height:1000px;
    font-size:1.6em;
    width:60%;
  }
}
@media (max-device-width: 1366px) and (orietation: landscape) {
  #main_cardx {
    height:430px;
    font-size:1.1em;
    /*min-width:55em; */
  }
}

