<div class="container-fluid disable-text-selection">
    <div id="risk_table_box">
      <div id="row_impacr" class="row">
        <div id="impact" class='rh' style="color:white">IMPACT:</div>
        <div id="first_td_impact" class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
      </div>
      <div class="row">
        <div class='rh' val=5>Critical</div>
        <div class='td rp th1 green' val=1 (click)="onClick(11)" [ngClass]="{'g-on' : a_details?.riskValue==11}">.11</div>
        <div class='td rp th1 yellow' val=2 (click)="onClick(28)" [ngClass]="{'y-on' : a_details?.riskValue==28}">28.</div>
        <div class='td rp th1 red' val=3 (click)="onClick(34)" [ngClass]="{'r-on' : a_details?.riskValue==34}" >.34</div>
        <div class='td rp th1 red' val=4 (click)="onClick(35)" [ngClass]="{'r-on' : a_details?.riskValue==35}">.35</div>
        <div class='td rp th1 red' val=5 (click)="onClick(36)" [ngClass]="{'r-on' : a_details?.riskValue==36}">.36</div>
      </div>
      <div class="row">
        <div class='rh' val=4>Significant</div>
        <div class='td rp th1 green' val=1 (click)="onClick(10)" [ngClass]="{'g-on' : a_details?.riskValue==10}">.10 </div>
        <div class='td rp th1 yellow' val=2 (click)="onClick(26)" [ngClass]="{'y-on' : a_details?.riskValue==26}">.26 </div>
        <div class='td rp th1 yellow' val=3 (click)="onClick(27)" [ngClass]="{'y-on' : a_details?.riskValue==27}">.27 </div>
        <div class='td rp th1 red' val=4 (click)="onClick(32)" [ngClass]="{'r-on' : a_details?.riskValue==32}">.32 </div>
        <div class='td rp th1 red' val=5 (click)="onClick(33)" [ngClass]="{'r-on' : a_details?.riskValue==33}">.33 </div>
      </div>
      <div class="row">
        <div class='rh' val=3>Moderate</div>
        <div class='td rp th1 green' val=1 (click)="onClick(8)" [ngClass]="{'g-on' : a_details?.riskValue==8}">.8</div>
        <div class='td rp th1 green'val=2 (click)="onClick(9)" [ngClass]="{'g-on' : a_details?.riskValue==9}">.9 </div>
        <div class='td rp th1 yellow' val=3 (click)="onClick(24)" [ngClass]="{'y-on' : a_details?.riskValue==24}">.24 </div>
        <div class='td rp th1 yellow' val=4 (click)="onClick(25)" [ngClass]="{'y-on' : a_details?.riskValue==25}">.25 </div>
        <div class='td rp th1 red' val=5 (click)="onClick(31)" [ngClass]="{'r-on' : a_details?.riskValue==31}">.31 </div>
      </div>
      <div class="row">
        <div class='rh' val=2>Minor</div>
        <div class='td rp th1 green' val=1 (click)="onClick(5)" [ngClass]="{'g-on' : a_details?.riskValue==5}">.5 </div>
        <div class='td rp th1 green' val=2 (click)="onClick(6)" [ngClass]="{'g-on' : a_details?.riskValue==6}">.6 </div>
        <div class='td rp th1 green' val=3 (click)="onClick(7)" [ngClass]="{'g-on' : a_details?.riskValue==7}">.7 </div>
        <div class='td rp th1 yellow' val=4 (click)="onClick(22)" [ngClass]="{'y-on' : a_details?.riskValue==22}">.22 </div>
        <div class='td rp th1 yellow' val=5 (click)="onClick(23)" [ngClass]="{'y-on' : a_details?.riskValue==23}">.23 </div>
      </div>
      <div class="row">
        <div class='rh' val=1>Minimal</div>
        <div class='td rp th1 green'val=1 (click)="onClick(1)" [ngClass]="{'g-on' : a_details?.riskValue==1}">.1 </div>
        <div class='td rp th1 green'val=2 (click)="onClick(2)" [ngClass]="{'g-on' : a_details?.riskValue==2}">.2 </div>
        <div class='td rp th1 green'val=3 (click)="onClick(3)" [ngClass]="{'g-on' : a_details?.riskValue==3}">.3 </div>
        <div class='td rp th1 green'val=4 (click)="onClick(4)" [ngClass]="{'g-on' : a_details?.riskValue==4}">.4 </div>
        <div class='td rp th1 yellow' val=5 (click)="onClick(21)" [ngClass]="{'y-on' : a_details?.riskValue==21}">.21 </div>
      </div>

      <div  id="row_probability" class="row">
        <div class='rh' id='probability' style="color:white">PROBABILITY:</div>
        <div class='th ' val=1>Unlikely</div>
        <div class='th' val=2>Low Likelihood</div>
        <div class='th' val=3>Likely</div>
        <div class='th' val=4>Very Likely</div>
        <div class='th' val=5>Near Certainty</div>
      </div>
    </div>
</div>
