<div class="container-fluid disable-text-selection">
    <div id="risk_table_box">
      <div id="row_impacr" class="row">
        <div id="impact" class='rh' style="color:white">IMPACT:</div>
        <div id="first_td_impact" class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
        <div class='td rp th111' >.</div>
      </div>
      <div class="row">
        <div class='rh' val=5>Critical</div>
        <div class='td rp th1 green' val=1>.5 </div>
        <div class='td rp th1 yellow' val=2>.10 </div>
        <div class='td rp th1 red' val=3>.15 </div>
        <div class='td rp th1 red' val=4>.20 </div>
        <div class='td rp th1 red' val=5>.25 </div>
      </div>
      <div class="row">
        <div class='rh' val=4>Significant</div>
        <div class='td rp th1 green' val=1>.4 </div>
        <div class='td rp th1 yellow' val=2>.9 </div>
        <div class='td rp th1 yellow' val=3>.14 </div>
        <div class='td rp th1 red' val=4>.19 </div>
        <div class='td rp th1 red' val=5>.24 </div>
      </div>
      <div class="row">
        <div class='rh' val=3>Moderate</div>
        <div class='td rp th1 green' val=1>.3</div>
        <div class='td rp th1 green'val=2>.8 </div>
        <div class='td rp th1 yellow' val=3>.13 </div>
        <div class='td rp th1 yellow' val=4>.18 </div>
        <div class='td rp th1 red' val=5>.23 </div>
      </div>
      <div class="row">
        <div class='rh' val=2>Minor</div>
        <div class='td rp th1 green' val=1>.2 </div>
        <div class='td rp th1 green' val=2>.7 </div>
        <div class='td rp th1 green' val=3>.12 </div>
        <div class='td rp th1 yellow' val=4>.17 </div>
        <div class='td rp th1 yellow' val=5>.22 </div>
      </div>
      <div class="row">
        <div class='rh' val=1>Minimal</div>
        <div class='td rp th1 green'val=1>.1 </div>
        <div class='td rp th1 green'val=2>.6 </div>
        <div class='td rp th1 green'val=3>.11 </div>
        <div class='td rp th1 green'val=4>.16 </div>
        <div class='td rp th1 yellow' val=5>.21 </div>
      </div>

      <div  id="row_probability" class="row">
        <div class='rh' id='probability' style="color:white">PROBABILITY:</div>
        <div class='th ' val=1>Unlikely</div>
        <div class='th' val=2>Low Likelihood</div>
        <div class='th' val=3>Likely</div>
        <div class='th' val=4>Very Likely</div>
        <div class='th' val=5>Near Certainty</div>
      </div>
    </div>
</div>
